<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsd.cse110.walkwalkrevolution">

    <application
        android:name=".WalkWalkRevolution"
        android:allowBackup="true"
        android:icon="@drawable/wwr_squatch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".TeamInviteActivity" android:exported="true"></activity>
        <activity
            android:name=".TeamDetailsActivity"
            android:exported="true" />
        <activity android:name=".MockActivity" />
        <activity android:name=".ProposeScreenActivity" />
        <activity
            android:name=".RoutesActivity"
            android:exported="true" />
        <activity android:name=".RoutesDetailActivity" />
        <activity
            android:name=".CreateRouteActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".HeightActivity"
            android:exported="true" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".WalkActivity"
            android:exported="true" />
        <activity
            android:name=".DummyActivity"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>